extends layout

block content
	#salut
		h1.saludo
			| Feliz cumpleañooooos Ana!!!!!!! :D</br></br>
		h1.hola
			
			| Vamos a jugar a un juego :). Lo siento, pero no es el teto :P.</br></br>
			| Tienes que acertar preguntas del siguiente test, 
			| por cada respuesta acertada ganarás puntos y al final del 
			| cuestionario podrás usar los puntos para conseguir regalos.</br></br>
			| Pero no te creas que los regalos son gratis! CUANDO COJAS UN REGALO
			| DEBERÁS QUITARTE UNA PRENDA! ACUÉRDATE!</br></br>
			| Preparada?

		h1.continue
			a(href="/juego", id="comprobar") Continuar